
<header>
	<div class="header-menu clearfix">
		<div class="site-name clearfix">
			<%= link_to top_video_path do %>
				<div class="sports-site clearfix">サイト名</div>
			<% end %>
		</div>
		<div class="header-nav-box clearfix">
			<% if user_signed_in? %>
				<%= link_to index_video_path do %>
					 <span class="material-icons user-nav-icon">search</span>
				<% end %>
				<%= link_to new_video_path do %>
					<span class="material-icons user-nav-icon">add_circle_outline</span>
				<% end %>
				<span class="header-mypage clearfix"><%= link_to user_mypage_path do %>
					<%= attachment_image_tag current_user, :image, :fill, 300, 300, format: 'jpeg', class: "profile-img-responsive-header pull-left image", fallback: "no-artist-image.jpg",size: '45x45' %>
				</span><% end %>
			<% else %>
				<%= link_to new_user_registration_path do %>
					<span class="material-icons user-nav-icon">person_add</span>
				<% end %>
				<%= link_to new_user_session_path do %>
					<span class="material-icons user-nav-icon">input</span>
				<% end %>
			<% end %>
		</div>
	</div>
</header>