


<header>
	<div class="header-menu clearfix">
		<div class="header-nav-box clearfix">
			<%= link_to index_video_path do %>
				 <i class="material-icons">list</i>
			<% end %>
			<%= link_to new_video_path do %>
				<i class="material-icons">add_circle_outline</i>
			<% end %>
			<%= link_to user_mypage_path do %>
				<i class="material-icons">account_circle</i>
			<% end %>

			<% if user_signed_in? %>
				<%= link_to user_video_cart_path do %>
					a
				<% end %>
				<%= link_to user_mypage_path do %>
					a
				<% end %>
				<%= link_to destroy_user_session_path, method: :delete do %>
					a
				<% end %>
			<% else %>
				<%= link_to new_user_registration_path do %>
					<i class="material-icons">open_in_new</i>
				<% end %>
				<%= link_to new_user_session_path do %>
					log_in
				<% end %>
			<% end %>
		</div>
	</div>
</header>
