<%= render 'users/video_header' %>


<div class="mypage-edit">
	<div class="space"></div>
	<div class="mypage-edit-contents clearfix">
		<div class="mypage-edit-title">Account Edit</div>
			<div class="mypage-edit-text clearfix">
				<%= form_for current_user, url: update_user_path do |f| %>
					<div class="edit-image">＜Profile Image＞<%= f.attachment_field :image %></div><br>
					<div class="edit-name">＜Name＞<%= f.text_field :name %></div><br>
					<div class="edit-email">＜Email＞<%= f.email_field :email %></div><br>
					<div class="edit-password">＜Password＞<%= f.password_field :password_confirmation, autocomplete: "off" %></div>
					<div class="edit-button-user"><%= f.submit "Edit", class: "mypage-edit-button" %></div>
				<% end %>
				<br><%= link_to destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} do %>
						<div class="logout-button-user">＜Delete Account＞</div>
				<% end %>
			</div>

			<div class="mypage-edit-post clearfix">
				<div class="edit-post-contents">
					<div class="edit-post-title">My Post List</div>
					<% @articles.each do |article| %>
			            <div class="edit-video-text clearfix">
			                <%= link_to show_video_path(article) do %>
			                    <div class="edit-video-name">【<%= article.title %>】</div>
			                <% end %>
			                    <div class="edit-video-tag">
			                      <% if article.tag %>
			                        <%= article.tag.tag_name %>
			                      <% end %>
			                    </div>
			                    <div class="edit-video-information"><%= article.video_information %></div>
		                    		<%= link_to delete_article_path (article) ,method: :delete, data: {confirm: 'Are you sure you want to delete contents?'} do %>
		                    			<div class="edit-video-destroy">＜Delete Contents＞</div>
		                    		<% end %>
			                    	<div class="edit-video-film clearfix">
			                    		<%= link_to article.video_url.to_s do %>
				                			<%= image_tag(article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
				                		<% end %>
				                	</div>
			            </div>
			        <% end %>
				</div>
			</div>
	</div>
</div>