<%= render 'users/video_header' %>

<div class="new-video">
	<div class="space"></div>
	<div class="space"></div>
	<div class="video-contents">
		<div class="new-title"><i class="material-icons new-video-icon">share</i> Share Video <i class="material-icons new-video-icon">share</i></div>
			<div class="new-video-text">
				<%= form_for(@video, url: create_video_path) do |f| %>
					<div class="new-video-title">Video Title</div>
					<%= f.text_field :video_name %><br><br>
					<div class="new-video-name">Video ID</div>
					<%= f.attachment_field :video %><br><br>
					<div class="new-video-information">Video Information</div>
					<%= f.text_area :video_information %><br><br>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.submit 'Share', class: "new-video-button" %>
				<% end %>
			</div>
	</div>

	<div class="video-confirmation">
		＋α  動画投稿前に確認用でフォームと選択された動画を表示できるようにする。 右側
	</div>
</div>


