<header>
	<div class="header-menu-ad clearfix">
		<div class="site-name-ad">
			<%= link_to top_ad_path do %>
				<div class="sports-site">サイト名</div>
			<% end %>
		</div>

		<div class="header-nav-box-ad clearfix">
			<% if admin_signed_in? %>
				<%= link_to index_ad_path do %>
					<i class="material-icons admin-nav-icon">list</i>
				<% end %>
				<%= link_to admin_ad_path do %>
					<i class="material-icons admin-nav-icon">account_circle</i>
				<% end %>
				<%= link_to tag_merger_path do %>
					<i class="material-icons admin-nav-icon">menu</i>
				<% end %>
				<%= link_to destroy_admin_session_path, method: :delete do %>
					<i class="material-icons admin-nav-icon">close</i>
				<% end %>
			<% else %>
				<%= link_to new_admin_registration_path do %>
					<i class="material-icons admin-nav-icon">open_in_new</i>
				<% end %>
				<%= link_to new_admin_session_path do %>
					<i class="material-icons admin-nav-icon">input</i>
				<% end %>
			<% end %>

		</div>

	</div>
</header>