<%= render 'admins/ad_header' %>

<div class="admin-ad">
	<div class="space"></div>
	<div class="admin-contents clearfix">
		<div class="admin-title">Members</div>
			<div class="admin-text clearfix">
				<table table="table-ad">
					<thead>
						<tr>
							<th class="table-name">Name</th>
							<th class="table-email">Email</th>
							<th class="table-control">Control</th>
						</tr>
					</thead>

					<tbody>
					<% @admins.each do |admin| %>
						<tr>
							<td class="table-name-ad"><%= admin.name %></td>
							<td class="table-email-ad"><%= admin.email %></td>
							<td class="table-edit"><%= link_to "Edit", edit_admin_path(admin) %></td>
							<td><%= link_to "Destroy", delete_admin_path(admin),method: :delete, data: {
									confirm: "Are you sure to delete?"} %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
	</div>
</div>







