<%= render 'admins/ad_header' %>

<div class="top-video-ad">
	<div class="top-image-field-ad">
		<div class="space"></div>
		<div class="top-image-text-ad clearfix">
			<div class="top-video-image cleafix">
				sport
			</div>
		</div>







	</div>
	<div class="top-main-visual-ad">
		<div class="top-main-contents-ad">
			<div class="pick-up-video-ad"><i class="material-icons pick-up-icon-ad">live_tv</i> Informed Video <i class="material-icons pick-up-icon-ad">live_tv</i></div>
		</div>
		<% if @article.present? %>
			<% @articles.each do |article| %>
	            <div class="top-video-text clearfix">
	            	<div class="top-video-contents clearfix">
		                <%= link_to show_video_path(article) do %>
		                    <div class="top-video-name">【<%= article.title %>】</div>
		                <% end %>
	                    	<div class="top-video-film clearfix">
		                  		<%= image_tag(article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
		               		</div>
		               		<div class="top-video-tag">
	                    		<% if article.tag %>
	                    			＜<%= article.tag.tag_name %>＞
	                    		<% end %>
	                    	</div>
		            </div>
               		<div class="top-video-information"><%= article.video_information %></div>
               			<div class="top-video-user">
                    		<% if article.user %>
                    			@ <%= article.user.name %>
                   			<% end %>
                   		</div>

                   	<div class="article-delete-button">

                   	</div>
	            </div>
    		<% end %>
    	<% else %>

    	<% end %>
	</div>
</div>

