<%= render 'admins/ad_header' %>
<% if admin_signed_in? %>
	<div class="top-video-ad">
		<div class="top-image-field-ad">
			<div class="top-main-field-ad clearfix">
				<div class="top-image-text-ad">
				Sports
				</div>
				<div class="top-image-text2-ad">
					Share
				</div>
				<div class="top-image-text3-ad">
					House
				</div>
				<div class="top-image-text4-ad">
					みんなでスポーツを盛り上げよう！
				</div>
			</div>
		</div>

		<div class="top-main-visual-ad">
			<div class="top-main-contents-ad">
				<div class="pick-up-video-ad">
					<% if @ngvideo.present? %>
						<i class="material-icons pick-up-icon-ad">live_tv</i> Informed Video <i class="material-icons pick-up-icon-ad">live_tv</i>
					<% else %>
						<i class="material-icons pick-up-icon-ad">live_tv</i> No Informed Video Yet <i class="material-icons pick-upicon-ad">live_tv</i>
					<% end %>
				</div>
			</div>
				<% @ngvideo.each do |ngvideo| %>
				<% article = Article.find_by(id: ngvideo) %>
		            <div class="top-video-text-ad clearfix">
		            	<div class="top-video-contents-ad clearfix">
			                    <div class="top-video-name-ad">【<%= article.title %>】</div>
		                    	<div class="top-video-film-ad clearfix">
			                  		<%= image_tag(article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
			               		</div>
			               		<div class="top-video-tag-ad">
		                    		<% if article.tag %>
		                    			＜<%= article.tag.tag_name %>＞
		                    		<% end %>
		                    	</div>
			            </div>
	               			<div class="top-video-user-ad">
	                    		<% if article.user %>
	                    			<%= attachment_image_tag article.user, :image, :fill, 300, 300, format: 'jpeg', class: "profile-img-responsive pull-left image", fallback: "no-artist-image.jpg", size: "20x20" %>
	                    			<%= article.user.name %>
	                   			<% end %>
	                   		</div>
	                   		<div class="top-video-information-ad"><%= article.video_information %></div>

	                   	<div class="article-delete-button">
	                   		<%= link_to destroy_ad_path(article), method: :delete, data: {confirm: 'Are you sure?'} do %>
	                   			<div class="article-delete">＜Delete Article＞</div>
	                   		<% end %>
	                   	</div>
		            </div>
	    		<% end %>
		</div>
	</div>
<% else %>
	<div class="top-image-field-ad">
		<div class="top-main-field-ad clearfix">
			<div class="top-image-text-ad">
				Sports
			</div>
			<div class="top-image-text2-ad">
				Share
			</div>
			<div class="top-image-text3-ad">
				House
			</div>
			<div class="top-admin-new">
				<%= link_to new_admin_registration_path, class: "admin-sign-new" do %>
					新規登録
				<% end %>
				<%= link_to new_admin_session_path, class: "admin-log-in" do %>
					ログイン
				<% end %>
			</div>
		</div>
	</div>
<% end %>

