<%= render 'users/video_header' %>

<div class="login-page">
  <div class="space"></div>
  <div class="login-contents clearfix">

        <div class="user-login-title clearfix">Log in</div>
          <div class="login-text clearfix">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field-login-email">
                <div class="login-email-field">＜Email＞</div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field-login-password">
                <br><div class="login-password-field">＜Password＞</div>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
              <br>
              <% if devise_mapping.rememberable? -%>
                <div class="field-login-remember">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
              <br>
              <div class="field-login-submit">
                <%= f.submit "Log in" %>
              </div>
            <% end %>
        </div>
        <%= render "users/shared/links" %>
  </div>

