<%= render 'users/video_header' %>



<div class="index-video">
  <div class="space"></div>
    <div class="index-video-contents">
      <div class="index-video-title"><i class="material-icons index-video-icon">ondemand_video</i> Video List <i class="material-icons index-video-icon">ondemand_video</i>
      </div>
        <% @articles.each do |article| %>
            <div class="index-video-text clearfix">
                <div class="index-video-film clearfix">
                  <%= image_tag(article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
                </div><br>
                <%= link_to show_video_path(article) do %>
                    <div class="index-video-name">【<%= article.title %>】</div>
                <% end %>
                    <div class="index-video-tag">
                      <% if article.tag %>
                        <%= article.tag.tag_name %>
                      <% end %>
                    </div>
                    <div class="index-video-information"><%= article.video_information %></div>
                      <% if article.user %>
                        <%= article.user.name %>
                      <% end %>
            </div>
        <% end %>
    </div>
</div>


