<header>
	<div class="show-header-menu clearfix">
		<div class="show-site-name clearfix">
			<%= link_to top_video_path do %>
				<div class="show-sports-site clearfix">サイト名</div>
			<% end %>
		</div>
		<div class="show-header-nav-box clearfix">
			<%= link_to index_video_path do %>
				 <span class="material-icons show-nav-icon">menu</span>
			<% end %>
			<%= link_to new_video_path do %>
				<span class="material-icons show-nav-icon">add_circle_outline</span>
			<% end %>
			<span class="show-header-mypage clearfix">
				<%= link_to user_mypage_path do %>
					<%= attachment_image_tag current_user, :image, :fill, 300, 300, format: 'jpeg', class: "show-profile-img-responsive-header pull-left image", fallback: "no-artist-image.jpg",size: '45x45' %>
				<% end %>
			</span>
		</div>
	</div>
</header>

<div class="show-video clearfix">
	<div class="space"></div>
		<div class="show-video-contents clearfix">
		 	<div class="show-video-film clearfix">
		 		<div class="show-video-play">
					<%= link_to @article.video_url.to_s do %>
						<i class="material-icons play-button">play_arrow</i>
					<% end %>
				</div>
				<div class="show-video-movie">
						<%= image_tag(@article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
				</div>
				<div class="comment-list-contents">
				  	<div class="comment-list-title">Comment List：</div>
					    <% @article.post_comments.each do |comment| %>
						    <div class="show-comment-text">
						    	<div class="commentator-name"><%= comment.user_id %> さん</div>
							   	<div class="commentator-comment"><%= comment.comment %></div>
							    <div class="border"></div>
							</div>
					    <% end %>
				</div>
			</div>


			<div class="show-video-text clearfix">
				<div class="show-video-title">
					【 <%= @article.title %> 】
				</div><br>

				<div class="show-video-tag">
					<% if @article.tag %>
                    	＜<%= @article.tag.tag_name %>＞
                    <% end %>
				</div>

				<div class="show-video-information">
					<%= @article.video_information %>
				</div>

				<div class="show-video-poster-name">
					<% if @article.user %>
            			@ <%= @article.user.name %>
           			<% end %>
				</div>

				<div class="admin-add-button">

				</div>

				<div class="comment-title">Post Comment：</div>
				<div class="show-video-comment">
					<%= form_for ([@article, @post_comment]) do |f| %>
					    <div class="row">
					        <div class="col-sm-12">
					            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "Comments are here" %>
					        </div>
					    </div>
					    <%= f.submit "Post", class: "post-comment-button" %>
					<% end %>
				</div>

				<div class="inform-button">＜For Informed Video＞</div>

			</div>
		</div>
</div>

