<%= render 'users/video_header' %>


<div class="top-video">
	<div class="top-video-head">
		<div class="space"></div>
			<div class="top-main-field clearfix">
				<div class="top-image-text clearfix">
					sports
				</div>
			</div>
	</div>
		<div class="top-main-visual">
			<div class="top-main-contents">
				<div class="pick-up-video"><i class="material-icons pick-up-icon">live_tv</i> Pick Up Video <i class="material-icons pick-up-icon">live_tv</i></div>

				<div class="top-contents clearfix">
					<%
						display_articles = []

						articles_len = @articles.length

						iiii = 0

						while iiii < articles_len && iiii < 3 do
							display_articles.push(@articles[iiii])
							iiii += 1
						end

					%>
					<% display_articles.each do |article| %>
			            <div class="top-video-text clearfix">
			            	<div class="top-video-contents clearfix">
				                <%= link_to show_video_path(article) do %>
				                    <div class="top-video-name">【<%= article.title %>】</div>
				                <% end %>
			                    	<div class="top-video-film clearfix">
				                  		<%= image_tag(article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
				               		</div>
				               		<div class="top-video-tag">
			                    		<% if article.tag %>
			                    			＜<%= article.tag.tag_name %>＞
			                    		<% end %>
			                    	</div>
				            </div>
				            <div class="top-video-user">
		                    		<% if article.user %>
		                    			@ <%= article.user.name %>
		                   			<% end %>
		                   		</div>
		               		<div class="top-video-information"><%= article.video_information %></div>
			            </div>
	        		<% end %>
	        	</div>
			</div>
		</div>
</div>