<%= render 'admins/ad_header' %>

<div class="signup-page-ad">
  <div class="space"></div>
    <div class="signup-contents-ad clearfix">

      <div class="admin-signup-title clearfix">Sign up</div>
        <div class="signup-text-ad clearfix">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
                <div class="signup-name-field-ad">＜Name＞</div>
                    <%= f.text_field :name, autofocus: true, autocomplete: "dff" %>
                <div class="signup-email-field-ad">＜Email＞</div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

                <div class="signup-password-field-ad">＜Password＞</div>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                    <br><%= f.password_field :password, autocomplete: "off" %>
                <div class="signup-password-con-field-ad">＜Password Confirmation＞</div>
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>

            <div class="field-signup-submit-ad">
                <%= f.submit "Sign up" %>
            </div>
          <% end %>
        </div>
        <%= render "admins/shared/links" %>
    </div>
</div>
